body{
 background-color: #3b5998;
}

#container {
	width: 600px;
	margin-left: auto;
	margin-right: auto;	
	margin-top: 100px;
}

#me p{
	font-family: 'Oxygen', sans-serif;
	font-weight: 200;
	font-size: 18px;
	line-height: 30px;
	color: #FFF;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

#me h1, h2{
	font-family: 'Oxygen', sans-serif;
	font-weight: 400;
	text-align: center;
	line-height: 40px;
	color: #FFF;
	margin-bottom: 40px;
}

.links	{ 
	list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 276px;
}
.links li{ 
	margin-right: 40px; 
	float: left; 
	color: #FFFFFF;
		text-align: center;
	font-size: 30px;
}
.links li:last-child{ 
	margin-right: 0; 
}

a, a:focus{
	color: #FFFFFF;
    font-weight: bold;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
	color: #8E0E00;
}

#face{
  background-image: url("../imgs/michael.jpg");  
  background-repeat: no-repeat;  
  background-attachment: scroll; 
  	width: 	150px; 
  		height: 150px;
    margin: 40px auto 40px auto;
    border-radius:50%;
border:3px solid white;

  background-position: 0% 0%;
  background-size: contain;
}


